.card{
    width:40%; height:200px; margin:5%; float: left;
}

.essay{
    width:40%; height:200px; margin:5%; float: left;
}
.parallax1 { 
/* The image used */
background-image: url("./static/Resort.jpg");

/* Set a specific height */
height: 1000px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax1 h1{
position: absolute;
top: 40%;
left: 40%;
text-align: center;
outline: 10px solid coral;
padding: 5px;
}

.parallax2 h1{
top: 40%;
left: 40%;
text-align: center;
outline: 10px solid coral;
padding: 5px;
}


.parallax2 { 
/* The image used */
background-image: url("./static/GrandCanyon.jpg");

/* Set a specific height */
height: 1000px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax3 { 
/* The image used */
background-image: url("./static/Acacia.jpg");

/* Set a specific height */
height: 1000px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax4 { 
/* The image used */
background-image: url("./static/Acapella.jpg");

/* Set a specific height */
height: 1000px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.parallax3 h1{
top: 40%;
left: 40%;
text-align: center;
outline: 10px solid coral;
padding: 5px;
}

.parallax3 object {
width: 50%;
height: 50%;
align-content: center;
}
